{% extends "base.html" %}

{% block title %}Recipe Detail - {{event.title}}{% endblock %}

{% block content %} 

<div class="container">
    <div class="event-info mt-3 p-1">
        <div class="event-img">
            <img src="{{ event.image.url }}" alt="{{ event.image_alt }}" class="event-pic">
        </div>
        <div class="event-detail">
            <h1 class="text-center">{{ event.title }}</h1>
            <p>{{event.date}}</p>
            <p>{{event.summary}}</p>
            <hr>
            <p>{{event.description|safe}}</p>
        </div>
    </div>
</div>


{% endblock %}