{% extends 'base.html' %}

{% block title %}Home{% endblock %} 

{% block content %}
<section>
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      {% for image in carousel_images %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
        <img src="{{ image.image.url }}" class="img-carousel d-block w-100" alt="{{ image.caption }}">
        <div class="carousel-caption d-md-block">
          <h1 class="d-none d-md-block img-des">{{ image.description }}</h1>
          <a href="{{ image.cta_url }}" class="btn btn-success">{{ image.cta_text }}</a>
        </div>
      </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>

<!-- <section class="container">
<h2 class="text-center pt-3">About us</h2>
<p>The Houses of the Oireachtas regularly hosts events and exhibitions, and also offers the public an opportunity to visit Leinster House for a tour of the historic building. The Oireachtas Events site seeks to provide a single booking system for tickets to all Oireachtas events and tours.  </p>
</section> -->

<section class="container">
    <h2 class="text-center pt-3">Visitor information</h2>
    <div class="accordion" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              Where to find us?
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>All visitors must enter through the visitors' entrance on Kildare Street beside the National Museum of Archaeology.</p>
              <p class="text-center"><iframe style="border: 0;" title="Map showing location of Leinster House" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2382.119838743494!2d-6.255479571829148!3d53.34111095618395!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48670e9a1cd1c193%3A0xb3390824c83c4f90!2sLeinster+House!5e0!3m2!1sen!2sie!4v1501581623590" width="320" height="240" frameborder="0"></iframe></p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              What should I bring with me?
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <ul>
                  <li>Bring photo ID, such as a passport or driving licence</li>
                  <li>Arrive at the Kildare Street gate 15 minutes before your appointment or tour</li>
                  <li>Avoid bringing large bags</li>
              </ul>
          </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              How to I book tickets?
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Please register for an account or login</div>
          </div>
        </div>
      </div>
</section>


{% endblock %}