@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;500;600&family=Montserrat:wght@300;400;500&display=swap');

:root {
    /* Font */
    --main-font: 'montserrat', sans-serif;
    --title: 'hind', sans-serif;


    /** Colours */
    --green: #22872e;
    --pink: #ed2987;
    --peach: #faded6;
    --almost-black: #14181a;
    --dark-green: #11501d;
    --grey: #f1f1f1;
    --white: #ffffff;

    /* Utils */
    --smal-box-shadow: 1px -1px 7px 0 #00000061;
    --border: 1px solid #00000030;
}


html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title);
}

main {
    flex: 1 0 auto;
    background-color: var(--grey);
}

/* footer */
footer {
    flex-shrink: 0;
    background-color: var(--dark-green);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: var(--border);
}

.social-icon {
    height: 2rem;
    margin: 1rem;
}


.bg {
    background-color: var(--dark-green);
}

/* header */
.navbar {
    padding: 0;
    box-shadow: var(--smal-box-shadow);
}

.navbar-toggler:focus {
    box-shadow: none;
}

.active {
    border-bottom: 2px solid white;
}

nav .nav-item a:hover {
    color: var(--pink) !important
}

img.logo {
    width: 9rem;
}


/* Form */

.form {
    width: 100%;
    margin: 4% auto;
    box-shadow: var(--smal-box-shadow);
    border-radius: 5px;
    background-color: var(--dark-green);
}

/* Events */
.card {
    height: 90%;
    margin-top: 1rem;
}

.events {
    text-decoration: none;
    color: var(--black);
    border-radius: 10px;
}

.event:hover {
    cursor: pointer;
}

.event-info {
    display: flex;
    flex-direction: column;
}

.event-container {
    display: flex;
    flex-direction: column;
}

.event-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.event-pic {
    height: auto;
}


@media(max-width:767px){
    .ul-bg {
        background-color: var(--green);
    }

    .event-img {
        width: 40%;
        margin: 0 auto;
    }
}

@media(max-width:599px){
    .event-img {
        display: none;
    }

    .active {
        border-bottom: none;
    }

}