{% extends "base.html" %}

{% block title %}Events Overview{% endblock %} 

{% block content %}

<h1 class="text-center">Overview of events</h1>
<div>
{% if event_list %}
<table class="table table-hover text-white container pt-1">
    <thead>
      <tr>
        <th>Title</th>
        <th>Event Date</th>
        <th>Tour Time</th>
        <th>Max Capacity</th>
        <th>Booked Tickets</th>
      </tr>
    </thead>
    <tbody>
      {% for event in event_list %}
        <tr>
            <td class="text-white fs-6">{{ event.title }}</td>
            <td class="text-white fs-6">{{ event.event_date }}</td>
            <td class="text-white fs-6">{{ event.tour_time }}</td>
            <td class="text-white fs-6">{{ event.max_capacity }}</td>
            <td class="text-white fs-6">{{ event.booked_tickets }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>No events currently scheduled</p>

{% endif %}
</div>
{% endblock %}