{% extends "base.html" %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'bookings/css/bookings.css' %}">
{% endblock %}

{% block title %}Booking Detail{% endblock %}

{% block content %} 
<div>
    <h1 class="text-center">Bookings List</h1>
    <p class="text-center"><em>Please note: This list will only show tickets for upcoming events</em></p>
    <table class="table table-striped table-hover text-white container pt-1 pb-1">
        <thead>
            <tr>
                <th>Booking Reference</th>
                <th>Name of Event</th>	
                <th>Date of Event</th>
                <th>Name on Booking</th>
                <th>Number of Tickets</th>
                <th><span class="visually-hidden">Edit Button Column</span></th>
                <th><span class="visually-hidden">Delete Button Column</span></th>
            </tr>
        </thead>
        {% for booking in object_list %}
        <tbody>
            <tr>
                <td class="text-white fs-6">
                    {{ booking.pk }}
                </td>
                <td class="text-white fs-6">
                    {{ booking.title }}
                </td>
                <td class="text-white fs-6">
                    {{ booking.event_date }}
                </td>
                <td class="text-white fs-6">
                    {{ booking.user }}
                </td>
                <td class="text-white fs-6">
                    {{ booking.num_tickets }}
                </td>
                <td>
                    <a href="{% url 'edit_booking' booking.id %}" class="btn btn-success">Edit</a>
                </td>
                <td>
                    <a href="{% url 'delete_booking' booking.id %}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>

{% endblock %}