{% extends "base.html" %}

{% block title %}Contact{% endblock %}

{% block content %}
<!-- Contact us form -->
<div class="container">
    <h1>Contact us</h1>
    <p>Have a question or what to leave some feedback?</p>
    <form method="POST" enctype="multipart/form-data" class="p-4 form text-white">
        {% csrf_token %}
        {{ form.media }}
        {{ form|crispy }}

        <div class="text-center">
            <button type="submit" class="btn btn-success mt-2">Submit</button>
        </div>
    </form>
</div>

{% endblock %}
